<?xml version="1.0"?>
<config>
    <modules>
        <Handy_CeneoReview>
            <version>1.0.0</version>
        </Handy_CeneoReview>
    </modules>
    <global>
        <blocks>
            <handy_ceneoreview>
                <class>Handy_CeneoReview_Block</class>
            </handy_ceneoreview>
        </blocks>
        <helpers>
            <handy_ceneoreview>
                <class>Handy_CeneoReview_Helper</class>
            </handy_ceneoreview>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <handy_ceneoreview>
                    <file>handy_ceneoreview.xml</file>
                </handy_ceneoreview>
            </updates>
        </layout>
        <translate>
            <modules>
                <Handy_CeneoReview>
                    <files>
                        <default>Handy_CeneoReview.csv</default>
                    </files>
                </Handy_CeneoReview>
            </modules>
        </translate>
    </frontend>
    <default>
        <handy_ceneoreview>
            <default>
                <days_to_send_questionnaire>3</days_to_send_questionnaire>
            </default>
        </handy_ceneoreview>
    </default>
</config>
